<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <!--注册springmvc的核心对象
        需要在tomcat服务启动后，创建DispatcherServlet对象实例。
        为什么创建DispatcherServlet对象实例
            DispatcherServlet在创建过程中，会同时创建springmvc容器对象，
           读取springmvc的配置文件，把这个配置文件中的对象都创建好，当用户发起请求时，就可以直接使用对象了

            servlet的初始化会执行init（）方法，DispatcherServlet在init（）中创建容器读取配置文件
            把容器对象放到servletContext中，在web项目中可以使用servlet对象了

            启动tomcat报错：读取这个文件/WEB-INF/springmvc-servlet.xml
            /WEB-INF/myweb-servlet.xml
            报错原因：springmvc创建容器对象时，读取的配置文件默认是/WEB-INF/<servlet-name>-servlet.xml
            自定义读取位置<init-param>
    -->
    <servlet>
        <servlet-name>myweb</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

        <init-param>
            <!--springmvc的配置文件的位置的属性-->
            <param-name>contextConfigLocation</param-name>
            <!--指定自定义文件的位置-->
            <param-value>classpath:springmvc.xml</param-value><!--classpath在resource目录下-->
        </init-param>

        <!--在tomcat启动后，创建servlet对象
        <load-on-startup>:表示tomcat启动后创建对象的顺序。值是个整数，数值越小tomcat创建对象的时间越早
        -->
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>myweb</servlet-name>
        <!--使用框架的时候<url-pattern>有两种值可以使用
            1.扩展名 *.xxx xxx是自定义扩展名 常用*.do *.action *.mvc
                请求地址是.do结尾的都交给myweb处理
            2.使用“/”
        -->
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>

    <!--注册声明过滤器，解决post请求乱码的问题-->
    <filter>
        <filter-name>characterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <!--设置使用的字符编码-->
        <init-param>
            <param-name>encoding</param-name>
            <param-value>utf-8</param-value>
        </init-param>
        <!--强制请求对象（HttpServletRequest）使用encoding编码值-->
        <init-param>
            <param-name>forceRequestEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
        <!--设置应答对象（Response）-->
        <init-param>
            <param-name>forceResponseEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>characterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern><!--/*表示强制所有的请求先通过过滤器-->
    </filter-mapping>

</web-app>